# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
salaries['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
salaries['Department'].value_counts()

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

**Null Hypothesis (\( H_0 \))**: The mean hourly wage of all hourly workers is equal to $30/hr.

$$ H_0: \mu = 30 $$

**Alternative Hypothesis (\( H_a \) or \( H_1 \))**: The mean hourly wage of all hourly workers is not equal to $30/hr.

$$ H_a: \mu \neq 30$$

In [30]:
from scipy.stats import ttest_1samp

hourly_rates = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']

hypothesized_mean = 30.0
alpha = 0.05

t_statistic, p_value = ttest_1samp(hourly_rates, hypothesized_mean)

print(f't_statistic: {t_statistic}')
print(f'p_value: {p_value}')

if p_value < alpha:
    print("Reject the null hypothesis: The hourly salaries are significantly different from $30/hr.")
else:
    print("Fail to reject the null hypothesis: The hourly wages are not significantly different from $30/hr.")

t_statistic: 31.211500329216044
p_value: 3.825475847673794e-202
Reject the null hypothesis: The hourly salaries are significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

**Null Hypothesis (\( H_0 \))**: The mean salary for this year is less than or equal to $86,000.

$$ H_0: \mu \leq 86000 $$

**Alternative Hypothesis (\( H_a \) or \( H_1 \))**: The mean salary for this year is greater than $86,000.

$$ H_a: \mu > 86000 $$

In [28]:
annual_salaries = salaries[salaries['Salary or Hourly'] == 'Salary']['Annual Salary']
annual_salaries.mean(), annual_salaries.std(), annual_salaries.sem()

(89061.79499999998, 21132.041407851768, 132.2613823282275)

In [31]:
hypothesized_mean = 86000.0
alpha = 0.05

t_statistic, p_value = ttest_1samp(annual_salaries, hypothesized_mean)

print(f't_statistic: {t_statistic}')
print(f'p_value: {p_value}')

if (t_statistic > 0) & (p_value/2 < alpha):
    print("Reject the null hypothesis: Salaries this year are significantly higher than $86,000/year.")
else:
    print("Fail to reject the null hypothesis: No significant evidence that salaries are higher than $86,000/year.")

t_statistic: 23.149576589194083
p_value: 2.3765140851726716e-117
Reject the null hypothesis: Salaries this year are significantly higher than $86,000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [34]:
# hourly_salaries = salaries[salaries['Salary or Hourly'] == 'Hourly']
department_hourly = pd.crosstab(salaries['Department'], salaries['Salary or Hourly'])

department_hourly['Hourly'].sort_values(ascending=False).head(1)

Department
STREETS & SAN    1846
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

**Null Hypothesis (\( H_0 \))**: The mean hourly wage for workers in the **STREETS & SAN** department is greater than or equal to $35/hr.

$$ H_0: \mu \geq 35 $$ 

**Alternative Hypothesis (\( H_a \) or \( H_1 \))**: The mean hourly wage for workers in the **STREETS & SAN** department is less than $35/hr.

$$  H_a: \mu < 35 $$

In [39]:
streets_san_hourly_rates = salaries[(salaries['Salary or Hourly'] == 'Hourly') & 
                                         (salaries['Department'] == 'STREETS & SAN')]['Hourly Rate']

hypothesized_mean = 35.0
alpha = 0.05

t_statistic, p_value = ttest_1samp(streets_san_hourly_rates, hypothesized_mean)

print(f't_statistic: {t_statistic}')
print(f'p_value: {p_value}')

if (t_statistic > 0) & (p_value/2 < alpha):
    print("Reject the null hypothesis: The hourly wage for workers in the STREETS & SAN department is significantly higher than $35/hr.")
else:
    print("Fail to reject the null hypothesis: No significant evidence to suggest that the hourly wage for workers in the STREETS & SAN department is less than $35/hr.")

t_statistic: 4.000138803968834
p_value: 6.580474443773579e-05
Reject the null hypothesis: The hourly wage for workers in the STREETS & SAN department is significantly higher than $35/hr.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [46]:
from scipy.stats import t, sem

standard_error = hourly_rates.sem()

confidence_level = 0.95
degrees_freedom = len(hourly_rates) - 1
sample_mean = hourly_rates.mean()

confidence_interval = t.interval(confidence_level, degrees_freedom, sample_mean, standard_error)

confidence_interval

(34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [47]:
confidence_interval = t.interval(confidence_level, len(annual_salaries)-1, annual_salaries.mean(), annual_salaries.sem()) 
confidence_interval

(88802.55516222387, 89321.0348377761)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [52]:
from statsmodels.stats.proportion import proportions_ztest

proportion = 0.25
alpha = 0.05
z_stat, p_val = proportions_ztest(len(hourly_rates), len(salaries), proportion)
print(z_stat, p_val)

if p_val < alpha:
    print("Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.")
else:
    ptint("Fail to reject the null hypothesis: No significant evidence to suggest that the proportion of hourly workers is different from 25%.")

-3.1962453870335 0.0013922864704323116
Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.